<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img class="img-responsive" src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
</div>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-md-offset-3 col-lg-offset-4">
    <ul class="list-inline hidden-xs col-sm-6 col-sm-offset-3 col-md-12 col-lg-12">
        <li>
            <a href="#">
                <img src="https://raw.githubusercontent.com/sarahhenderson/Crafty-Social-Buttons/master/src/buttons/crafty-stitchy-round/twitter.png"/>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="https://raw.githubusercontent.com/sarahhenderson/Crafty-Social-Buttons/master/src/buttons/crafty-stitchy-round/facebook.png"/>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="https://raw.githubusercontent.com/sarahhenderson/Crafty-Social-Buttons/master/src/buttons/crafty-stitchy-round/instagram.png"/>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="https://raw.githubusercontent.com/sarahhenderson/Crafty-Social-Buttons/master/src/buttons/crafty-stitchy-round/email.png"/>
            </a>
        </li>
    </ul>
</div>
<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
    <ul class="nav nav-pills nav-justified">
        {{#foreach navigation}}
            <li><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
    </ul>
</div>