<div class="navigation">
    <div class="row">
        <div class="twelve columns">
            <div class="logo">
                <a href="{{@blog.url}}"><img class="u-max-full-width" src="{{@blog.logo}}" alt="{{@blog.title}}"/></a>
            </div>
        </div>
    </div>


    <div class="row">
        <nav class="social">
            <div class="twelve columns">
                <div class="menu">
                    <ul>
                        <li class="menu-item">
                            <a href="{{twitter_url}}/{{twitter}}"><img alt="twitter"
                                                                       src="https://raw.githubusercontent.com/sarahhenderson/Crafty-Social-Buttons/master/src/buttons/crafty-stitchy-round/twitter.png"/></a>
                        </li>
                        <li class="menu-item">
                            <a href="{{facebook_url}}"><img alt="facebook"
                                                            src="https://raw.githubusercontent.com/sarahhenderson/Crafty-Social-Buttons/master/src/buttons/crafty-stitchy-round/facebook.png"/></a>
                        </li>
                        <li class="menu-item">
                            <a href="#"><img alt="instagram"
                                             src="https://raw.githubusercontent.com/sarahhenderson/Crafty-Social-Buttons/master/src/buttons/crafty-stitchy-round/instagram.png"/></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="row">
        <nav class="primary">
            <div class="twelve columns">
                <div class="menu">
                    <ul>
                        {{#foreach navigation}}
                            <li><a class="menu-item" href="{{url absolute="true"}}">{{label}}</a></li>
                        {{/foreach}}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

