<div class="navigation">
    <div class="row">
        <div class="twelve columns">
            <div class="logo">
                <a href="{{@blog.url}}"><img class="u-max-full-width" src="{{@blog.logo}}" alt="{{@blog.title}}"/></a>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="twelve columns">
            <div class="social-buttons">
                <span>
                    <a href="{{twitter_url}}/{{twitter}}"><img src="https://raw.githubusercontent.com/sarahhenderson/Crafty-Social-Buttons/master/src/buttons/crafty-stitchy-round/twitter.png"/></a>
                </span>
                <span>
                        <a href="{{facebook_url}}"><img src="https://raw.githubusercontent.com/sarahhenderson/Crafty-Social-Buttons/master/src/buttons/crafty-stitchy-round/facebook.png"/></a>
                </span>
                <span>
                    <a href="#"><img src="https://raw.githubusercontent.com/sarahhenderson/Crafty-Social-Buttons/master/src/buttons/crafty-stitchy-round/instagram.png"/></a>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <nav class="primary">
            <div class="twelve columns">
                <div class="menu">
                    <ul>
                        {{#foreach navigation}}
                            <li><a class="menu-item" href="{{url absolute="true"}}">{{label}}</a></li>
                        {{/foreach}}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

