<!DOCTYPE html>
<html>
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}"/>

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {{!-- Brand icon --}}
    <link rel="shortcut icon" href="{{asset "images/favicon.png"}}">

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/normalize.css"}}"/>
    <link rel="stylesheet" type="text/css" href="{{asset "css/skeleton.css"}}"/>
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}"/>

    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>

    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
</head>
<body class="{{body_class}} nav-closed">
<div class="container">
    <div class="main-body content">
        {{!-- The blog navigation links --}}
        {{navigation}}
        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        <div class="row">
            <div class="twelve columns">
                <h1>{{@blog.title}}</h1>
            </div>
        </div>
        <div class="row">
            {{{body}}}
        </div>
    </div>
</div>

<div class="container">
    <div class="footer content">
        {{> "footer"}}
    </div>
</div>

{{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
<script type="text/javascript" src="{{asset "js/jquery-2.2.4.min.js"}}"></script>
{{ghost_foot}}

</body>
</html>
